@model eliezerhome2.Models.Gallery

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="link-administrator">
    @Html.ActionLink("Back to list", "Galleries")
</div>

@using (Html.BeginForm("EditGallery", "Administrator", FormMethod.Post, new { enctype = "multipart/form-data", id = "editing-form-gallery" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-horizontal">

        @if (ViewBag.Message != null)
        {
            <p id="change-text">@(ViewBag.Message)</p>
        }
        <h3>Редагувати галерею</h3>
        <hr />

        @Html.HiddenFor(model => model.GalleryId)

        <div class="editor-label">Ім'я галереї:</div>
        <div class="editor-field">
            @Html.ValidationMessageFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
        </div>

        <div class="editor-label">Виділіть червоним фото, які хочете видалить:</div>
        <div class="editor-field">
            <div id="images-line">
                @if (Model != null)
                {
                    for (int i = 0; i < Model.Photos.Count; i++)
                    {
                        <img src="@("/GalleryPhotos/" + Model.Photos[i].URL)" />
                    }
                }
            </div>
            <br />
            <span class="field-validation-error" data-valmsg-for="Photos" data-valmsg-replace="true">@ViewBag.MessageDelPhotos</span>
        </div>
        <div class="editor-label">Додати нові фото:</div>
        <div class="editor-field" id="input_files">
            <input type="file" class="files" name="uploadImages" accept="image/*,image/jpeg" multiple />
        </div>
        <hr />

        <div class="button-send">
            <input type="submit" value="Зберегти зміни!" />
        </div>

    </div>
}

@Scripts.Render("~/Scripts/administrator.gallery.js")