
@model IList<eliezerhome2.Models.Gallery>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="link-administrator">
    @Html.ActionLink("Back to menu", "Index")
</div>
<h2>Всі мої галереї, які завантажені на сайт</h2>
<hr />
<div class="link-administrator">
    @Html.ActionLink("Добавить нову галерею", "AddGallery")
</div>
<hr />
@if (Model != null)
{

    int count = Model.Count;

    for (int i = 0; i < count / 3; i++)
    {
        <div class="row">

            @for (int j = 0; j < 3; j++)
            {
           

                <div class="col-md-4">

                    <p>
                       "@Html.DisplayFor(modelItem => @Model[i * 3 + j].Name)" 
                    </p>

                    <p>
                        <img src="@("/GalleryPhotos/" + @Model[i*3+j].Photos[0].URL)" width="40%" alt="@Model[i*3+j].Name" />
                    </p>

                    <p>
                        @Html.ActionLink("Edit", "EditGallery", "Administrator", new { id = @Model[i * 3 + j].GalleryId }, new { @class = "edit" })
                        @Html.ActionLink("Delete", "Deletegallery", "Administrator", new { id = @Model[i * 3 + j].GalleryId }, new { @class = "delete" })
                    </p>
                </div>
            }
        </div>
        <hr />
    }


    <div class="row">
        @for (int i = (count / 3) * 3; i < count; i++)
        {
            <div class="col-md-4">

                <p>
                    "@Html.DisplayFor(modelItem => @Model[i].Name)"
                </p>

                <p>
                    <img src="@("/GalleryPhotos/" + @Model[i].Photos[0].URL)" width="40%" alt="@Model[i].Name" />
                </p>

                <p>
                    @Html.ActionLink("Edit", "EditGallery", "Administrator", new { id = @Model[i].GalleryId }, new { @class = "edit" })
                    @Html.ActionLink("Delete", "Deletegallery", "Administrator", new { id = @Model[i].GalleryId }, new { @class = "delete" })
                </p>
            </div>
        }
    </div>

}






