@model IList<eliezerhome2.Models.Work>
@{
    ViewBag.Title = "Home";
}

@if (ViewBag.Artist != null)
{
    <div class="jumbotron">
 
        <div class="row">
            <div class="col-md-6">
                @if (ViewBag.Artist.Photos.Count > 0)
                {
                <img src="@("/MyPhotos/" + @ViewBag.Artist.Photos[0])" width="100%" alt="Eli-Ezer" />
                }
            </div>
            <div class="col-md-6">
                <h2>Artist Eli-Ezer</h2>
                <pre>@ViewBag.Artist.biography</pre>
            </div>
        </div>
        <div class="btn-more">
            <a class="btn btn-default" href="/Home/ArtistInfo">About me &raquo;</a>
        </div>
    </div>
}



@if (Model != null)
{

    int count = Model.Count;

    for (int i = 0; i < count / 3; i++)
    {
        <div class="row">

            @for (int j = 0; j < 3; j++)
            {
                string text = Model[i * 3 + j].Comment;

                <div class="col-md-4">
                    <img src="@("/Paintings/" + @Model[i*3+j].Photos[0].URL)" width="100%" alt="@Model[i*3+j].Name" />
                    <h2>@Model[i * 3 + j].Name</h2>

                    @if (text.Count() > 100)
                    {
                        <pre>@(text.Substring(0,100) + "...")</pre>
                    }
                    else
                    {
                        <pre>@text</pre>
                    }

                    <div class="btn-more"><a class="btn btn-default" href="/Home/WorkInfo?id=@Model[i*3+j].WorkId">More &raquo;</a></div>
                </div>

            }
        </div>
        <hr />
    }


    <div class="row">
        @for (int i = (count / 3) * 3; i < count; i++)
        {
            string text = Model[i].Comment;
            <div class="col-md-4">


                <img src="@("/Paintings/" + @Model[i].Photos[0].URL)" width="100%" alt="@Model[i].Name" />



                <h2>@Model[i].Name</h2>
                @if (text.Count() > 100)
                {
                    <pre>@(text.Substring(0,100) + "...")</pre>
                }
                else
                {
                    <pre>@text</pre>
                }

                <div class="btn-more"><a class="btn btn-default" href="/Home/WorkInfo?id=@Model[i].WorkId">More &raquo;</a></div>
            </div>
        }
    </div>
}