@model IList<eliezerhome2.Models.Work>

@{
    ViewBag.Title = "My Works";
}


@if (ViewBag.selectworks == "paintings")
{
    <select id="select_works" onchange="window.location.href=this.options[this.selectedIndex].value">
        <option value="/Home/MyWorks?selectworks=all">All works</option>
        <option selected="selected" value="/Home/MyWorks?selectworks=paintings">Only paintings</option>
        <option value="/Home/MyWorks?selectworks=other">Other works</option>
    </select>
}
else if (ViewBag.selectworks == "other")
{
    <select id="select_works" onchange="window.location.href=this.options[this.selectedIndex].value">
        <option value="/Home/MyWorks?selectworks=all">All works</option>
        <option value="/Home/MyWorks?selectworks=paintings">Only paintings</option>
        <option selected="selected" value="/Home/MyWorks?selectworks=other">Other works</option>
    </select>
}
else
{
    <select id="select_works" onchange="window.location.href=this.options[this.selectedIndex].value">
        <option selected="selected" value="/Home/MyWorks?selectworks=all">All works</option>
        <option value="/Home/MyWorks?selectworks=paintings">Only paintings</option>
        <option value="/Home/MyWorks?selectworks=other">Other works</option>
    </select>
}

@if (Model != null)
{

    int count = Model.Count;

    for (int i = 0; i < count / 4; i++)
    {
        <div class="row">

            @for (int j = 0; j < 4; j++)
            {
                string text = Model[i * 4 + j].Comment;

                <div class="col-md-3">
                    <img src="@("/Paintings/" + @Model[i*4+j].Photos[0].URL)" width="100%" alt="@Model[i*4+j].Name" />
                    <h2>@Model[i * 4 + j].Name</h2>

                    @if (text.Count() > 100)
                    {
                        <pre>@(text.Substring(0,100) + "...")</pre>
                    }
                    else
                    {
                        <pre>@text</pre>
                    }

                    <div class="btn-more">
                        <a class="btn btn-default" href="/Home/WorkInfo?id=@Model[i*4+j].WorkId">More &raquo;</a>
                    </div>
                </div>

            }
        </div>
        <hr/>
    }


    <div class="row">

        @for (int i = (count / 4) * 4; i < count; i++)
        {
            string text = Model[i].Comment;

            <div class="col-md-3">
                <img src="@("/Paintings/" + @Model[i].Photos[0].URL)" width="100%" alt="@Model[i].Name" />
                <h2>@Model[i].Name</h2>

                @if (text.Count() > 100)
                    {
                    <pre>@(text.Substring(0,100) + "...")</pre>
                }
                else
                {
                    <pre>@text</pre>
                }
                <div class="btn-more">
                    <a class="btn btn-default" href="/Home/WorkInfo?id=@Model[i].WorkId">More &raquo;</a>
                </div>
            </div>

        }
    </div>

}
