@model eliezerhome2.Models.Gallery

@Styles.Render("~/Content/bootstrap_gallery")

<!-- The container for the list of example images -->
<div id="links">
    @if (Model != null)
    {

        int count = Model.Photos.Count;

        for (int i = 0; i < count / 6; i++)
        {
            <div class="row">

                @for (int j = 0; j < 6; j++)
                {
                    <div class="col-md-2">
                        <a href="@("/GalleryPhotos/" + Model.Photos[i * 6 + j].URL)" title="@Model.Photos[i * 6 + j].Comment" data-gallery>
                            <img src="@("/GalleryPhotos/" + Model.Photos[i * 6 + j].URL)" width="100%" alt="@Model.Photos[i].Comment">
                        </a>
                    </div>
                }
            </div>
            <hr />
        }


        <div class="row">
            @for (int i = (count / 6) * 6; i < count; i++)
            {
                <div class="col-md-2">
                    <a href="@("/GalleryPhotos/" + Model.Photos[i].URL)" title="@Model.Photos[i].Comment" data-gallery>
                        <img src="@("/GalleryPhotos/" + Model.Photos[i].URL)" width="100%" alt="@Model.Photos[i].Comment">
                    </a>
                </div>
            }
        </div>
    }
</div>
<br>
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-use-bootstrap-modal="false" style="display: none;">
    <!-- The container for the modal slides -->
    <div class="slides" style="width: 136600px;"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title">Happy Hour</h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">×</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/bootstrap_gallery")

